
<html style="display: contents;">
  <body>
    <div class="flex bottom-0 justify-center">
      <!-- left grass patch -->
      <div class="grass_patch" id="grass_patch_1">
        <div class="grass_blade small left_blade"></div>
        <div class="grass_blade "></div>
        <div class="grass_blade small right_blade"></div>
      </div>
      <!-- flower -->
      <div class="flower_container">
        <!-- left leaves -->
        <div class="leaf_container" id="leaf-1-container">
          <div class="leaf left_leaf" id="leaf-1"></div>
        </div>
        <div class="leaf_container" id="leaf-2-container">
          <div class="leaf left_leaf" id="leaf-2"></div>
        </div>
        <!-- stalk -->
        <div class="stalk"></div>
        <!-- right leaves -->
        <div class="leaf_container" id="leaf-3-container">
          <div class="leaf right_leaf" id="leaf-3"></div>
        </div>
        <div class="leaf_container" id="leaf-4-container">
          <div class="leaf right_leaf" id="leaf-4"></div>
        </div>
      </div>
      <!-- right grass patch -->
      <div class="grass_patch" id="grass_patch_2">
        <div class="grass_blade small left_blade"></div>
        <div class="grass_blade "></div>
        <div class="grass_blade small right_blade"></div>
      </div>
    </div>
  </body>
</html>

